<a href="https://colab.research.google.com/github/Rachidhared/Devoir_python/blob/main/Coding_Pair_ROOM3_Mahamoud_abdoulhakim_AsmaIbrahim_kadidjaAbdisalam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercice

In [ ]:
import math
class Cercle:

  def _init_(self,rayon):
    self.rayon=rayon

  def Perimetre(rayon):
    per=2*math.pi*rayon
    return per

  def Aire(rayon):
    Air=math.pi*(rayon*rayon)
    return Air

r=int(input("Veuillez saisir le rayon de votre cercle "))

cercle1=Cercle
aire1=Cercle
print("le perimetre de votre cercle est : ",cercle.Perimetre(r))
print("L'aire de votre cercle est : ",aire1.Aire(r))

Exercice 2

In [ ]:
class Calculatrice:
  def _init_(self):
    pass

  def Addition( a , b):
    return a+b
  def Multiplication(a,b):
    return a*b
  def Soustraction(a,b):
    return a-b

  def Division(a,b):
    if b != 0:
      div=a/b

    else :

      print("Veuillez saisir un nombre different de 0")
    return div

A=int(input("Veuillez saisir un nombre A :"))
B=int(input("Veuillez saisir un nombre B :"))

Add1=Calculatrice
Sous1=Calculatrice
Mul1=Calculatrice
Div1=Calculatrice
print("Votre addition est ",Add1.Addition(A,B))
print("Soustraction : ",Sous1.Soustraction(A,B))
print("Division : ",Div1.Division(A,B))
print("Multiplication :",Mul1.Multiplication(A,B))

Exercice 3

In [100]:
from datetime import datetime
class Personnelle:
  def _init_(self,Nom,Pays,Date_naissance):
    self.Nom=Nom
    self.Pays=Pays
    self.date_naissance=datetime.strptime(Date_naissanceate_naissance,"%Y-%m-%d")

  def AgePersonne(date_actuelle,Date_naissance):
    age= date_actuelle - Date_naissance
    return age
Per1=Personnelle
print("L'age de la personne est ",Per1.AgePersonne(2024,1997))

L'age de la personne  27

Exercice 4 sql

In [83]:
from sqlite3.dbapi2 import Cursor
import sqlite3
#Creation de base de donne
conn=sqlite3.connect("Ecoless.db")
#Creation d'un curseur pour execute
Cursor=conn.cursor()
 # Creation de table eleve
Cursor.execute('''
    Create TABLE IF NOT EXISTS eleves (
      id Integer primary key autoincrement,
      Nom Text not null,
      Prenom Text,
      Age Integer
    )
''')
# insertion des donn√©es

Cursor.execute("Insert Into eleves (Nom,Prenom,Age) Values (?,?,?)", ("ASMA","Abdi",35)
)
Cursor.execute("Insert Into eleves (Nom,Prenom,Age) Values (?,?,?)", ("Mahamoud","Abdi",35)
)
Cursor.execute("Insert Into eleves (Nom,Prenom,Age) Values (?,?,?)", ("Kadidga","Abdi",22)
)
Cursor.execute("Select * from eleves")
ligne=Cursor.fetchall()
for ligne1 in ligne:
  print(ligne1)

(1, 'ASMA', 'Abdi', 35)
(2, 'Mahamoud', 'Abdi', 35)
(3, 'Kadidga', 'Abdi', 22)

In [80]:
Cursor.execute('''update eleves set Age=20  ''')
Cursor.execute("Select * from eleves")
ligne=Cursor.fetchall()
for ligne1 in ligne:
  print(ligne1)

(1, 'ASMA', 'Abdi', 20)