## **Devoir sur le Navigateur SQLite : Bibliothèque Personnelle de Livres**

**Sur l'application SQLite, j'ai créé la base de données "PersonalLibrary.db" avec ses tables et j'ai effectué différents question. En utilisant Google Colab, je vais vous montrer les requêtes en Python.**

**1. Création de la base de données :**

In [1]:
import sqlite3

# 1. Création de la base de données
conn = sqlite3.connect('PersonalLibrary.db')
cursor = conn.cursor()

**2. Conception de la table :**

In [2]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Livres (
    BookID INTEGER PRIMARY KEY AUTOINCREMENT,
    Titre TEXT NOT NULL,
    Auteur TEXT NOT NULL,
    AnnéePublication INTEGER NOT NULL,
    Genre TEXT NOT NULL
)
''')

**3. Insertion des données :**

In [3]:
livres = [
    ('Le portrait du nouvel être', ' Abdourahman Barkat God', 2023, 'non-fiction'),
    ('Le Réveil de Djibouti, 1968-1977', ' Rémi Leroux', 1998, 'non-fiction'),
    ('Plus rien ne pourra me blesser', 'David Goggins ', 2023, 'non-fiction'),
    ('Père riche, père pauvre', ' Robert T. Kiyosaki', 2017, 'non-fiction ')
]

cursor.executemany('''
INSERT INTO Livres (Titre, Auteur, AnnéePublication, Genre)
VALUES (?, ?, ?, ?)
''', livres)

**4. Récupération des données :**

In [4]:
# a. Lister tous les livres
print("Tous les livres :")
for row in cursor.execute('SELECT * FROM Livres'):
    print(row)

Tous les livres :
(1, 'Le portrait du nouvel être', ' Abdourahman Barkat God', 2023, 'non-fiction')
(2, 'Le Réveil de Djibouti, 1968-1977', ' Rémi Leroux', 1998, 'non-fiction')
(3, 'Plus rien ne pourra me blesser', 'David Goggins ', 2023, 'non-fiction')
(4, 'Père riche, père pauvre', ' Robert T. Kiyosaki', 2017, 'non-fiction ')

In [5]:
#b. Trouver tous les livres publiés après l'année 2000
print("\nLivres publiés après 2000 :")
for row in cursor.execute('SELECT * FROM Livres WHERE AnnéePublication > 2000'):
    print(row)

Livres publiés après 2000 :
(1, 'Le portrait du nouvel être', ' Abdourahman Barkat God', 2023, 'non-fiction')
(3, 'Plus rien ne pourra me blesser', 'David Goggins ', 2023, 'non-fiction')
(4, 'Père riche, père pauvre', ' Robert T. Kiyosaki', 2017, 'non-fiction ')

In [6]:
# c. Trouver tous les livres du genre "non-fiction"
print("\nLivres du genre 'non-fiction' :")
for row in cursor.execute('SELECT * FROM Livres WHERE Genre = "non-fiction"'):
    print(row)

Livres du genre 'non-fiction' :
(1, 'Le portrait du nouvel être', ' Abdourahman Barkat God', 2023, 'non-fiction')
(2, 'Le Réveil de Djibouti, 1968-1977', ' Rémi Leroux', 1998, 'non-fiction')
(3, 'Plus rien ne pourra me blesser', 'David Goggins ', 2023, 'non-fiction')

**5. Manipulation des données**

In [7]:
# a. Mettre à jour l'année de publication d'un livre
cursor.execute('''
UPDATE Livres
SET AnnéePublication = 2024
WHERE Titre = 'Le portrait du nouvel être'
''')
conn.commit()

In [9]:
# Vérification de la mise à jour
print("\nMise à jour de l'année de publication de '2023' :")
for row in cursor.execute('SELECT * FROM Livres WHERE Titre = "Le portrait du nouvel être"'):
    print(row)

Mise à jour de l'année de publication de '2023' :
(1, 'Le portrait du nouvel être', ' Abdourahman Barkat God', 2024, 'non-fiction')

In [10]:
# b. Supprimer un livre
cursor.execute('''
DELETE FROM Livres
WHERE Titre = 'Plus rien ne pourra me blesser'
''')
conn.commit()

In [11]:
# Vérification de la suppression
print("\nVérification de la suppression de 'Plus rien ne pourra me blesser' :")
for row in cursor.execute('SELECT * FROM Livres'):
    print(row)

Vérification de la suppression de 'Plus rien ne pourra me blesser' :
(1, 'Le portrait du nouvel être', ' Abdourahman Barkat God', 2024, 'non-fiction')
(2, 'Le Réveil de Djibouti, 1968-1977', ' Rémi Leroux', 1998, 'non-fiction')
(4, 'Père riche, père pauvre', ' Robert T. Kiyosaki', 2017, 'non-fiction ')

**Fermeture de la connexion**

In [12]:
conn.close()