

```
# Ce texte est au format code
```

ROOM 5 (hassan houssein, Moustaphe Ali,Abdirahman nour, med-amin ALI et KHADIJA MED)

exo 1

In [ ]:
import math

class Cercle:
    def __init__(self, rayon):
        """Initialise un cercle avec le rayon donné."""
        self.rayon = rayon

    def surface(self):
        """Retourne la surface du cercle."""
        return math.pi * (self.rayon ** 2)

    def perimetre(self):
        """Retourne le périmètre du cercle."""
        return 2 * math.pi * self.rayon

    def __str__(self):
        """Retourne une représentation en chaîne de caractères du cercle."""
        return f"Cercle de rayon {self.rayon:.2f} unités"

# Exemple d'utilisation de la classe Cercle
if __name__ == "__main__":
    # Créer une instance de Cercle avec un rayon de 5
    mon_cercle = Cercle(5)

    # Afficher les informations sur le cercle
    print(mon_cercle)

    # Calculer et afficher la surface du cercle
    print(f"Surface: {mon_cercle.surface():.2f}")

    # Calculer et afficher le périmètre du cercle
    print(f"Périmètre: {mon_cercle.perimetre():.2f}")

Cercle de rayon 5.00 unités
Surface: 78.54
Périmètre: 31.42

EX0 2

In [ ]:
class Calculatrice:
    def __init__(self):
        pass

    def addition(self, a, b):
        return a + b

    def soustraction(self, a, b):
        return a - b

    def multiplication(self, a, b):
        return a * b

    def division(self, a, b):
        if b == 0:
            raise ValueError("La division par zéro n'est pas autorisée.")
        return a / b

def demander_nombre(message):
    while True:
        try:
            return float(input(message))
        except ValueError:
            print("Ce n'est pas un nombre valide. Veuillez essayer encore.")

if __name__ == "__main__":
    calc = Calculatrice()

    print("Bienvenue dans la calculatrice!")

    a = demander_nombre("Entrez le premier nombre : ")
    b = demander_nombre("Entrez le deuxième nombre : ")

    print(f"Addition de {a} et {b}: {calc.addition(a, b)}")
    print(f"Soustraction de {a} et {b}: {calc.soustraction(a, b)}")
    print(f"Multiplication de {a} et {b}: {calc.multiplication(a, b)}")

    try:
        print(f"Division de {a} et {b}: {calc.division(a, b)}")
    except ValueError as e:
        print(e)

    try:
        div_zero = demander_nombre("Entrez un nombre pour tenter une division par zéro : ")
        print(f"Division de {a} par {div_zero}: {calc.division(a, div_zero)}")
    except ValueError as e:
        print(e)

Bienvenue dans la calculatrice!
Entrez le premier nombre : 8
Entrez le deuxième nombre : 0
Addition de 8.0 et 0.0: 8.0
Soustraction de 8.0 et 0.0: 8.0
Multiplication de 8.0 et 0.0: 0.0
La division par zéro n'est pas autorisée.
Entrez un nombre pour tenter une division par zéro : 0
La division par zéro n'est pas autorisée.

Exo 3

In [ ]:
from datetime import datetime

class Personne:
    def __init__(self, nom, pays, date_naissance):
        self.nom = nom
        self.pays = pays
        self.date_naissance = date_naissance

    def calculer_age(self):
        aujourd_hui = datetime.now()
        age = aujourd_hui.year - self.date_naissance.year - ((aujourd_hui.month, aujourd_hui.day) < (self.date_naissance.month, self.date_naissance.day))
        return age

# Création d'une instance de Personne
date_naissance = datetime(2002, 5, 15)  # Exemple de date de naissance : 15 mai 1990
personne = Personne("Mouf Ali", "KHA", date_naissance)

# Affichage des informations
print(f"Nom: {personne.nom}")
print(f"Pays: {personne.pays}")
print(f"Date de naissance: {personne.date_naissance.date()}")
print(f"Âge: {personne.calculer_age()} ans")

Nom: Mouf Ali
Pays: KHATOUM state
Date de naissance: 2002-05-15
Âge: 22 ans

exo 4

In [22]:
import sqlite3

# Connexion à la base de données (création si elle n'existe pas)
conn = sqlite3.connect('ecole.db')
cursor = conn.cursor()

# Création de la table eleves
cursor.execute('''
CREATE TABLE IF NOT EXISTS eleves (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nom TEXT NOT NULL,
    prenom TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

# Confirmation des modifications
conn.commit()
conn.close()
import sqlite3

# Connexion à la base de données
conn = sqlite3.connect('ecole.db')
cursor = conn.cursor()

# Insertion de données
eleves = [
    ('Dupont', 'Jean', 14),
    ('Martin', 'Claire', 15),
    ('Bernard', 'Paul', 13)
]
cursor.executemany('''
INSERT INTO eleves (nom, prenom, age) VALUES (?, ?, ?)
''', eleves)

# Confirmation des modifications
conn.commit()
conn.close()

import sqlite3

# Connexion à la base de données
conn = sqlite3.connect('ecole.db')
cursor = conn.cursor()

# Mise à jour des données
cursor.execute('''
UPDATE eleves
SET age = ?
WHERE nom = ? AND prenom = ?
''', (16, 'Martin', 'Claire'))

# Confirmation des modifications
conn.commit()
conn.close()
import sqlite3

# Connexion à la base de données
conn = sqlite3.connect('ecole.db')
cursor = conn.cursor()

# Sélection des données
cursor.execute('SELECT * FROM eleves')
resultats = cursor.fetchall()

# Affichage des résultats
for eleve in resultats:
    print(eleve)

# Fermeture de la connexion
conn.close()

(1, 'Dajieh', 'Hassan', 14)
(2, 'Omar', 'Warfa', 10)
(3, 'ALI', 'Guedi', 13)
(4, 'Dajieh', 'Hassan', 14)
(5, 'Omar', 'Warfa', 10)
(6, 'ALI', 'Guedi', 13)
(7, 'Dajieh', 'Hassan', 14)
(8, 'Omar', 'Warfa', 10)
(9, 'ALI', 'Guedi', 13)
(10, 'Dajieh', 'Hassan', 14)
(11, 'Omar', 'Warfa', 10)
(12, 'ALI', 'Guedi', 13)
(13, 'Dupont', 'Jean', 14)
(14, 'Martin', 'Claire', 16)
(15, 'Bernard', 'Paul', 13)