# EXO 1 CLASSSE CERCLE

In [ ]:
import math
class Cercle:
    def __init__(self, rayon):
        self.rayon = rayon

    def surface(self):
        return math.pi * (self.rayon ** 2)

    def perimetre(self):
        return 2 * math.pi * self.rayon


#TEST
cercle = Cercle(10)
print("Surface:", cercle.surface())
print("Périmètre:", cercle.perimetre())

Surface: 314.1592653589793
Périmètre: 62.83185307179586

# EXO 2 CLASSE CALCULATRICE

In [ ]:
class Calculatrice:
    def addition(self, n1, n2):
        return n1+n2

    def soustraction(self, n1, n2):
        return n1 - n2

    def multiplication(self, n1, n2):
        return n1 * n2

    def division(self, n1, n2):
        if n2 != 0:
            return n1 / n2
        else:
            return "Erreur"

#test
calcul = Calculatrice()

print("Addition: 8 + 4 =", calcul.addition(8, 4))
print("Soustraction: 8- 4 =", calcul.soustraction(8, 4))
print("Multiplication: 8 * 4 =", calcul.multiplication(8, 4))
print("Division: 8/ 4 =", calcul.division(8, 4))

Addition: 8 + 4 = 12
Soustraction: 8- 4 = 4
Multiplication: 8 * 4 = 32
Division: 8/ 4 = 2.0

# EXO 3 CLASSE PERSONNE

In [ ]:
from datetime import datetime
class Personne:
    def __init__(self, nom, pays, date_naissance):
        self.nom = nom
        self.pays = pays
        self.date_naissance = datetime.strptime(date_naissance, "%Y-%m-%d")

    def calculer_age(self):
        aujourdhui = datetime.today()
        age = aujourdhui.year - self.date_naissance.year
        if aujourdhui < self.date_naissance.replace(year=aujourdhui.year):
            age =age-1
        return age

 #Test

personne1 = Personne("Ali", "Djibouti", "1987-04-12")
personne2 = Personne("Fatouma", "Ethiopie", "2004-08-09")

print(f"{personne1.nom} a {personne1.calculer_age()} ans.")
print(f"{personne2.nom} a {personne2.calculer_age()} ans.")

Ali a 37 ans.
Fatouma a 20 ans.

EXO 4 GESTION D'UNE BASE DES DONNEES

In [ ]:
!pip install pysqlite3

Requirement already satisfied: pysqlite3 in /usr/local/lib/python3.10/dist-packages (0.5.3)

# Question 1: Construction de la base des donnees

In [9]:
#Créer la base de données : « école »
import sqlite3
connexion=sqlite3.connect('ecole.db')
curseur=connexion.cursor()
curseur.execute('''CREATE TABLE IF NOT EXISTS eleve
                ( id INTEGER PRIMARY KEY,
                 nom TEXT,
                 prenom TEXT ,
                 age INTEGER
                )
''')

# Question 2 : Insertion des donnees

In [11]:

connexion=sqlite3.connect('ecole.db')
curseur=connexion.cursor()
curseur.execute("INSERT INTO eleve (nom,prenom,age) VALUES (?,?,?)",("ali","fatouma",2002))
curseur.execute("INSERT INTO eleve (nom,prenom,age) VALUES (?,?,?)",("ahmed","leila",2004))
curseur.execute("INSERT INTO eleve (nom,prenom,age) VALUES (?,?,?)",("omar","said",1997))
curseur.execute("INSERT INTO eleve (nom,prenom,age) VALUES (?,?,?)",("moustapha","abdi",2008))
curseur.execute("SELECT * FROM eleve")
lignes=curseur.fetchall()
for ligne in lignes :
    print(ligne)
connexion.commit()

(1, 'ali', 'fatouma', 2002)
(2, 'ahmed', 'leila', 2004)
(3, 'omar', 'said', 1997)
(4, 'moustapha', 'abdi', 2008)

# Question 3: Modification des enregistrements

In [13]:

connexion=sqlite3.connect('ecole.db')
curseur=connexion.cursor()
curseur.execute("UPDATE eleve SET age = ? WHERE nom= ?", (2012, "ahmed"))
curseur.execute("DELETE FROM eleve WHERE age = ?", (1997,))
connexion.commit()
connexion.close

# Question 4 :  effectuer une requête pour sélectionner des données dans la table créée

In [15]:
# 4. effectuer une requête pour sélectionner des données dans la table créée
connexion=sqlite3.connect('ecole.db')
curseur=connexion.cursor()
curseur.execute("SELECT * FROM eleve")
lignes=curseur.fetchall()
for ligne in lignes :
    print(ligne)
connexion.commit()
connexion.close()

(1, 'ali', 'fatouma', 2002)
(2, 'ahmed', 'leila', 2012)
(4, 'moustapha', 'abdi', 2008)