NOM = ABDILLAHI OMAR DJAMA

    ABDOULKARIM MOHAMED OSMAN

    SOUD AHMED ABDILLAHI
    
    FAHIMA HAMOUD MOUSSA

Partie I : Programmation Orientée Objet (POO) en Python

EXOS 1

In [2]:
#1. Classe pour représenter un cercle
#Code :
import math

class Cercle:
    def __init__(self, rayon):
        self.rayon = rayon

    def surface(self):
        return math.pi * self.rayon ** 2

    def perimetre(self):
        return 2 * math.pi * self.rayon

# Exemple d'utilisation
mon_cercle = Cercle(6)
print("Surface:", mon_cercle.surface())
print("Périmètre:", mon_cercle.perimetre())

Surface: 113.09733552923255
Périmètre: 37.69911184307752

EXOS2

In [4]:
class Calculatrice:
    def addition(self, a, b):
        return a + b

    def soustraction(self, a, b):
        return a - b

    def multiplication(self, a, b):
        return a * b

    def division(self, a, b):
        if b != 0:
            return a / b
        else:
            return "Erreur : Division par zéro"

# Exemple d'utilisation
calc = Calculatrice()
print("Addition:", calc.addition(10, 5))
print("Soustraction:", calc.soustraction(10, 5))
print("Multiplication:", calc.multiplication(10, 5))
print("Division:", calc.division(10, 5))

Addition: 15
Soustraction: 5
Multiplication: 50
Division: 2.0

EXOS 3

In [13]:
from datetime import date

class Personne:
    def __init__(self, nom, prenom, pays, date_naissance):
        self.nom = nom
        self.prenom = prenom
        self.pays = pays
        self.date_naissance = date_naissance

    def calculer_age(self):
        aujourd_hui = date.today()
        age = aujourd_hui.year - self.date_naissance.year - \
            ((aujourd_hui.month, aujourd_hui.day) < (self.date_naissance.month, self.date_naissance.day))
        return age

# Exemple d'utilisation
ma_personne = Personne("SAAD", "Omar", "DJIBOUTI", date(1996, 8, 15))
from datetime import date

class Personne:
    def __init__(self, nom, prenom, pays, date_naissance):
        self.nom = nom
        self.prenom = prenom
        self.pays = pays
        self.date_naissance = date_naissance

    def calculer_age(self):
        aujourd_hui = date.today()
        age = aujourd_hui.year - self.date_naissance.year - \
            ((aujourd_hui.month, aujourd_hui.day) < (self.date_naissance.month, self.date_naissance.day))
        return age

# Exemple d'utilisation
ma_personne = Personne("SAAD", "Omar", "DJIBOUTI", date(1996, 8, 15))
print("Nom:", ma_personne.nom)
print("Âge:", ma_personne.calculer_age())

Nom: SAAD
Âge: 27

EXOS 4 Creation de la base des donnée

In [12]:
import sqlite3
import os

# Chemin du dossier pour la base de données
db_path = r'C:\Users\ABDILLAHIOMARDJAMA\Desktop\db'

# Chemin complet pour la base de données 'école.db'
db_file = os.path.join(db_path, 'école.db')

# Créer une connexion à la base de données
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Insérer des enregistrements
cursor.execute('''
INSERT INTO eleves (nom, prenom, age)
VALUES ('Asma', 'Omar', 20)
''')

cursor.execute('''
INSERT INTO eleves (nom, prenom, age)
VALUES ('Ali', 'Saad', 22)
''')

# Confirmer les changements
conn.commit()

# Modifier un enregistrement
cursor.execute('''
UPDATE eleves
SET age = 21
WHERE nom = 'Asma' AND prenom = 'Omar'
''')

# Confirmer les changements
conn.commit()

# Sélectionner et afficher toutes les données
cursor.execute('SELECT * FROM eleves')
rows = cursor.fetchall()

for row in rows:
    print(row)

# Fermer le curseur et la connexion
cursor.close()
conn.close()

(1, 'Saad', 'Omar', 15)
(2, 'Asma', 'Djama', 17)
(3, 'ALI', 'ADEN', 16)
(4, 'Saad', 'Omar', 15)
(5, 'Asma', 'Djama', 17)
(6, 'ALI', 'ADEN', 16)
(7, 'Saad', 'Omar', 15)
(8, 'Asma', 'Djama', 17)
(9, 'ALI', 'ADEN', 16)
(10, 'Asma', 'Omar', 21)
(11, 'Ali', 'Saad', 22)